
<div class="wrapper background">
    <div id="formContent">

        <h2>Edit Expense</h2>
        <form form #f="ngForm">

            <div class="registerRow">
                <label for="id">Expense ID</label>
                <input type="text" id="id" name="id" value={{expenseObject?.id}} ngModel id #id = "ngModel" [disabled]="true">
            </div> 

            <div class="registerRow">
                <label for="expenseType">Expense Type</label>
                <select class="selectpicker select-drop" id="expenseType" name="expenseType" value={{expenseObject?.expenseType}} ngModel expenseType #expenseType = "ngModel" [disabled]="disabled">
                    <option value="" disabled>Expense Type</option>
                    <option>Mobile Bill</option>
                    <option>Broadband Bill</option>
                    <option>Tools/Equipment</option>
                    <option>Training</option>
                    <option>Business Development</option>
                    <option>Other (Please Add Notes)</option>
                </select>
            </div>

            <div class="registerRow">
                <label for="dateOfExpense">Date</label>
                <input type="text" id="dateOfExpense" name="dateOfExpense" value={{expenseObject?.dateOfExpense}}  ngModel dateOfExpense #dateOfExpense = "ngModel" placeholder="Date of Expense" [disabled]="disabled">
            </div> 

            <div class="registerRow">
                <label for="expenseValue">Value</label>
                <input type="text" id="expenseValue" name="expenseValue" value={{expenseObject?.expenseValue}}  ngModel expenseValue #expenseValue = "ngModel" placeholder="Expense Value" [disabled]="disabled">
            </div>

            <div class="registerRow">
                <label for="notes">Notes</label>
                <input type="text" id="notes" name="notes" value={{expenseObject?.notes}}  ngModel notes #notes = "ngModel" placeholder="Add Notes" [disabled]="disabled">
            </div>
            
            <input type="button" class="fadeIn fourth" value="Edit Details" (click)="inputEnabled()">
            <input type="button" class="fadeIn fourth" value="Save Details" [disabled]="disabled" (click)="submitForm(f)">
        </form>
    </div>
</div>
