<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Cashflow Control</div>
      <div class="intro-heading text-uppercase">Let's make it simple.</div>
      <a class="btn btn-primary btn-xl text-uppercase" href="register">Let's Go</a>
    </div>
  </div>
</header>

<!-- Services -->
<section class="page-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Services</h2>
        <h3 class="section-subheading text-muted">Managing your income streams couldn't be easier than with RMS.</h3>
        <h3 class="section-subheading text-muted">Put your trust in professionals, and get your business working for you.
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-coins fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Invoices & Expenses</h4>
        <p class="text-muted">Keep track of your incoming and outgoing streams of revenue. We'll help manage these to
          give you more free time to enjoy life</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="far fa-comments fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Advice</h4>
        <p class="text-muted">Unsure about that expense? Wondering how to raise an invoice? Reach out to our team and
          we'll explain everything.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-file-signature fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Summary</h4>
        <p class="text-muted">Get clear and concise information about your business performance.</p>
      </div>
    </div>
  </div>
</section>


<!-- Contact -->
<section class="page-section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Contact Us</h2>
        <h3 class="section-subheading text-white">Question about our service? Unsure about your taxes? We'll do what we
          can to help.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form [formGroup]="contactFormGroup">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  [class.is-invalid]="contactFormGroup.get('formName').invalid && contactFormGroup.get('formName').touched"
                  type="text" class="form-control" placeholder="Name *" formControlName="formName" />
                <small *ngIf="contactFormGroup.get('formName').invalid && contactFormGroup.get('formName').touched"
                  class="help-block text-danger">Please enter full name.</small>
              </div>

              <div class="form-group">
                <input
                  [class.is-invalid]="contactFormGroup.get('formEmail').invalid && contactFormGroup.get('formEmail').touched"
                  placeholder="Email *" type="email" class="form-control" formControlName="formEmail">
                <small
                  *ngIf="emailAddress.errors?.pattern && contactFormGroup.get('formEmail').invalid && contactFormGroup.get('formEmail').touched"
                  class="text-danger">Please provide a valid email address</small>
              </div>

              <div class="form-group">
                <input
                  [class.is-invalid]="contactFormGroup.get('formPhone').invalid && contactFormGroup.get('formPhone').touched"
                  type="text" class="form-control" placeholder="Phone Number *" formControlName="formPhone" />
                <small
                  *ngIf="phoneNumber.errors?.pattern && contactFormGroup.get('formPhone').invalid && contactFormGroup.get('formPhone').touched"
                  class="help-block text-danger">Please enter a phone number.</small>
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea
                  [class.is-invalid]="contactFormGroup.get('formMessage').invalid && contactFormGroup.get('formMessage').touched"
                  class="form-control" placeholder="Your Message *" formControlName="formMessage"></textarea>
                <small
                  *ngIf="contactFormGroup.get('formMessage').invalid && contactFormGroup.get('formMessage').touched"
                  class="help-block text-danger">Please enter a message.</small>
              </div>
            </div>


            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit"
                (click)="processForm()" [disabled]="isSubmitDisabled()">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
