<div class="wrapper background">
    <div id="formContent">

        <h2>Edit Your Details</h2>
        <form [formGroup]="userDetailsFormGroup">

            <br>
            <div class="registerRow form-group">
                <!-- First Name -->
                <label for="firstName">First Name</label>
                <input
                    [class.is-invalid]="userDetailsFormGroup.get('formFName').invalid && userDetailsFormGroup.get('formFName').touched"
                    type="text"  class="fadeIn third form-control" placeholder="First Name"
                    formControlName="formFName" />
                <small
                    *ngIf="userDetailsFormGroup.get('formFName').invalid && userDetailsFormGroup.get('formFName').touched"
                    class="help-block text-danger">Cannot be blank.</small>
                <!-- Last Name -->
                <label for="lastName">Last Name</label>
                <input
                    [class.is-invalid]="userDetailsFormGroup.get('formLName').invalid && userDetailsFormGroup.get('formLName').touched"
                    type="text" class="fadeIn third form-control" placeholder="Last Name" formControlName="formLName" />
                <small
                    *ngIf="userDetailsFormGroup.get('formLName').invalid && userDetailsFormGroup.get('formLName').touched"
                    class="help-block text-danger">Cannot be blank.</small>
            </div>

            <div class="registerRow form-group">
                <br>
                <!-- Email -->
                <label for="emailAddress">Email Address</label>
                <input
                    [class.is-invalid]="userDetailsFormGroup.get('formEmail').invalid && userDetailsFormGroup.get('formEmail').touched"
                    placeholder="Email Address" type="email" class="fadeIn third form-control"
                    formControlName="formEmail" />
                <small
                    *ngIf="emailAddress.errors?.pattern && userDetailsFormGroup.get('formEmail').invalid && userDetailsFormGroup.get('formEmail').touched"
                    class="text-danger">Please provide a valid email address.</small>
            </div>

            <div class="registerRow form-group">
                <br>
                <label for="dateOfBirth">Date of Birth</label>
                <input type="text" id="dateOfBirth" class="fadeIn third" name="dateOfBirth" formControlName="formDOB" (change)="dateOfBirthValueChanged($event)"
                    [disabled]="true">
                <br>
                <label for="PPSN">PPS Number</label>
                <input type="text" id="PPSN" class="fadeIn third" name="PPSN" formControlName="formPPSN"
                 (change)="ppsValueChanged($event)" [disabled]="true">
            </div>
            <div class="registerRow form-group">
                <br>
                <!-- Job Title -->
                <label for="jobTitle">Job Title</label>
                <input
                    [class.is-invalid]="userDetailsFormGroup.get('formJobTitle').invalid && userDetailsFormGroup.get('formJobTitle').touched"
                    type="text" class="fadeIn third form-control" placeholder="Job Title/Profession"
                    formControlName="formJobTitle" />
                <small
                    *ngIf="userDetailsFormGroup.get('formJobTitle').invalid && userDetailsFormGroup.get('formJobTitle').touched"
                    class="help-block text-danger">Cannot be blank.</small>
            </div>

            <input type="button" *ngIf="!showCancel" value="Edit Details" (click)="inputEnabled()">
            <input type="button" *ngIf="!showCancel" value="Dashboard" (click)="goToDashboard()">
            
            <input type="button" class="hidden-cancel" *ngIf="showCancel" value="Cancel Edit" (click)="inputDisabled()">
            <input type="button" class="hidden-save" *ngIf="showCancel" value="Save Details" [disabled]="disabled"
                (click)="openConfirmationDialog()">
        </form>
    </div>
</div>