
<div class="wrapper background">
    <div id="formContent">

        <h2>Edit Invoice</h2>
        <form form #f="ngForm">

            <div class="registerRow">
                <label for="id">Invoice ID</label>
                <input type="text" id="id" name="id" value={{incomeObject?.id}} ngModel id #id = "ngModel" [disabled]="true">
            </div> 

            <div class="registerRow">
                <label for="clientName">Client Name</label>
                <input type="text" id="clientName" name="clientName" value={{incomeObject?.clientName}} ngModel clientName #clientName = "ngModel" [disabled]="disabled">
            </div>

            <div class="registerRow">
                <label for="dateOfInvoice">Invoice Date</label>
                <input type="text" id="dateOfInvoice" name="dateOfInvoice" value={{incomeObject?.dateOfInvoice}}  ngModel dateOfIncome #dateOfIncome = "ngModel"  [disabled]="disabled">
            </div> 

            <div class="registerRow">
                <label for="invoiceValue">Invoice Value</label>
                <input type="text" id="invoiceValue" name="invoiceValue" value={{incomeObject?.invoiceValue}}  ngModel invoiceValue #invoiceValue = "ngModel"  [disabled]="disabled">
            </div>
            
            <div class="registerRow">
                <label>Payment Recieved</label>
                <label for="payment" *ngFor=" let i of paymentOptions">
                    <input type="radio" value={{i.value}} ngModel paymentReceived #paymentReceived = "ngModel" name="paymentReceived"  id="paymentReceived"  [checked]="incomeObject?.paymentReceived === i.value" (click)="handleClick(i.value)" [disabled]="disabled">{{i.text}}
                </label>
            </div>
            <div *ngIf="incomeObject?.paymentReceived === true" class="registerRow">
                <input type="text" id="dateOfPayment" ngModel dateOfPayment #dateOfPayment = "ngModel" name="dateOfPayment" placeholder="Date of Payment">
            </div>

            <div class="registerRow">
                <label for="notes">Notes</label>
                <input type="text" id="notes" name="notes" value={{incomeObject?.notes}}  ngModel notes #notes = "ngModel" [disabled]="disabled">
            </div>
            
            <input type="button" class="fadeIn fourth" value="Edit Details" (click)="inputEnabled()">
            <input type="button" class="fadeIn fourth" value="Save Details" [disabled]="disabled" (click)="submitForm(f)">
        </form>
    </div>
</div>
