  .container {
      width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  header.masthead {
      background: /* top, transparent blue, faked with gradient */
      linear-gradient( rgba( 32, 102, 114, 0.45), rgba( 32, 102, 114, 0.45)), /* bottom, image */
      url("../../assets/img/about-bg.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;
  }

  .card-op {
      opacity: .8;
  }

  .card-padding{
      padding-left: 5%;
      padding-right: 5%;
  }

  .map-padding{
    padding-left: 7.5%;
    padding-right: 7.5%;
}

  @media (min-width: 768px) {
      section {
          width: 100%;
          padding: 50px 0;
      }
  }

  .page-section {
      padding: 50px 0;
  }

  .btn {
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      font-weight: 700;
  }

  .btn-xl {
      font-size: 18px;
      padding: 20px 40px;
  }

  .btn-primary {
      background-color: #fed136;
      border-color: #fed136;
  }

  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
      background-color: #fec810 !important;
      border-color: #fec810 !important;
      color: white;
  }

  .btn-primary:active, .btn-primary:focus {
      box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }

  .page-section h2.section-heading {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
  }

  .page-section h3.section-subheading {
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 25px;
      text-transform: none;
      color: rgb(212, 203, 203);
      font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  section#contact {
      background-color: #206672;
      background-repeat: no-repeat;
      background-position: center;
  }

  section#contact .section-heading {
      color: #fff;
  }

  section#contact .form-group {
      margin-bottom: 25px;
  }

  section#contact .form-group input, section#contact .form-group textarea {
      padding: 20px;
  }

  section#contact .form-group input.form-control {
      height: auto;
  }

  section#contact .form-group textarea.form-control {
      height: 248px;
  }

  section#contact .form-control:focus {
      border-color: #fed136;
      box-shadow: none;
  }

  section#contact ::-webkit-input-placeholder {
      font-weight: 700;
      color: #ced4da;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  section#contact :-moz-placeholder {
      font-weight: 700;
      color: #ced4da;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  section#contact ::-moz-placeholder {
      font-weight: 700;
      color: #ced4da;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  section#contact :-ms-input-placeholder {
      font-weight: 700;
      color: #ced4da;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  .row{
    margin-right: 0px;
    margin-left: 0px;
  }