<div>
    <header class="masthead">
        <section class="page-section" id="content">
            <!-- Content Row -->
            <div class="row card-padding">
                <div class="col-md-4 mb-5">
                    <div class="card h-100 card-op">
                        <div class="card-body">
                            <h2 class="section-heading">About Us</h2>
                            <p class="card-text">We started off as self-emloyed individuals tired of the hassle of
                                traditional accountants and keeping track of things ourselves.
                                With experience on our minds and skills in our hands (and Google!) we set out to build a
                                platform for the independent professional.</p>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4 mb-5">
                    <div class="card h-100 card-op">
                        <div class="card-body">
                            <h2 class="section-heading">Who is RMS for?</h2>
                            <p class="card-text">Whether you're a full-time Handyman or part-time Management Consultant,
                                RMS gives you control and visibility about your earnings. Get in touch today to address
                                any particular queries you have.</p>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4 mb-5">
                    <div class="card h-100 card-op">
                        <div class="card-body">
                            <h2 class="section-heading">What support can I get?</h2>
                            <p class="card-text">While we want to put the power in your hands, we know from time to time
                                you might need to chat with a professional. Instead of being charged per visit to your
                                local accountant, get in touch with us and our ACA qualified Accountant will clarifying
                                anything you need.</p>
                        </div>
                        <!-- <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-sm">More Info</a>
                </div> -->
                    </div>
                </div>
                <!-- /.col-md-4 -->

            </div>
            <!-- /.row -->
        </section>
    </header>

    <section class="map">
        <!-- Heading Row -->
        <div class="row align-items-center my-5 map-padding">
            <div class="col-lg-7">
                <!-- <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt=""> -->
                <div id="map-container-google-1" class="img-fluid rounded mb-4 mb-lg-0">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38182.32057438806!2d-6.250985530783166!3d53.26454127014981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4867090b5444013d%3A0x2600c7a819bb0531!2sSandyford%2C%20Dublin!5e0!3m2!1sen!2sie!4v1585997606542!5m2!1sen!2sie"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>

            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <h1 class="font-weight-light">Wherever you are, we're there for you</h1>
                <p>In today's world, our location isn't important but we know it's nice to know! We're based out of
                    South Dublin but our platform is built for anyone working within the Republic of Ireland.</p>
                <a class="btn btn-lg btn-primary" href="register">Register!</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

    </section>

    <!-- Contact -->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-white">Question about our service? Unsure about your taxes? We'll
                        do what we can to help.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form [formGroup]="contactFormGroup">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input
                                        [class.is-invalid]="contactFormGroup.get('formName').invalid && contactFormGroup.get('formName').touched"
                                        type="text" class="form-control" placeholder="Name *"
                                        formControlName="formName" />
                                    <small
                                        *ngIf="contactFormGroup.get('formName').invalid && contactFormGroup.get('formName').touched"
                                        class="help-block text-danger">Please enter full name.</small>
                                </div>

                                <div class="form-group">
                                    <input
                                        [class.is-invalid]="contactFormGroup.get('formEmail').invalid && contactFormGroup.get('formEmail').touched"
                                        placeholder="Email *" type="email" class="form-control"
                                        formControlName="formEmail">
                                    <small
                                        *ngIf="emailAddress.errors?.pattern && contactFormGroup.get('formEmail').invalid && contactFormGroup.get('formEmail').touched"
                                        class="text-danger">Please provide a valid email address</small>
                                </div>

                                <div class="form-group">
                                    <input
                                        [class.is-invalid]="contactFormGroup.get('formPhone').invalid && contactFormGroup.get('formPhone').touched"
                                        type="text" class="form-control" placeholder="Phone Number *"
                                        formControlName="formPhone" />
                                    <small
                                        *ngIf="phoneNumber.errors?.pattern && contactFormGroup.get('formPhone').invalid && contactFormGroup.get('formPhone').touched"
                                        class="help-block text-danger">Please enter a phone number.</small>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea
                                        [class.is-invalid]="contactFormGroup.get('formMessage').invalid && contactFormGroup.get('formMessage').touched"
                                        class="form-control" placeholder="Your Message *"
                                        formControlName="formMessage"></textarea>
                                    <small
                                        *ngIf="contactFormGroup.get('formMessage').invalid && contactFormGroup.get('formMessage').touched"
                                        class="help-block text-danger">Please enter a message.</small>
                                </div>
                            </div>


                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase"
                                    type="submit" (click)="processForm()" [disabled]="isSubmitDisabled()">Send
                                    Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


</div>
<!-- /.container -->