<div class="content">
    <h2>Expense Summary</h2>
    <br>
    <h3>Review and edit your expenses here.</h3>
    <br>
    <input type="button" value="Submit New Invoice" (click)="addExpense(userId)">
    <input type="button" value="Dashboard" (click)="goToDashboard()">

    <div class="submitted">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Expense ID</th>
                    <th scope="col">Expense Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Expense Value</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Actions</th>
                    <th scope="col"> </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let expense of expenseList">
                    <td  scope="row">{{expense.id}}</td>
                    <td  scope="row">{{expense.expenseType}}</td>
                    <td  scope="row">{{expense.dateOfExpense}}</td>
                    <td  scope="row">€{{expense.expenseValue}}</td>
                    <td  scope="row">{{expense.notes}}</td>
                    <td  scope="row">
                        <span class="table-edit">
                            <button type="button" class="btn btn-primary btn-rounded btn-sm my-0"
                                (click)="expenseDetails(expense.id)">Edit</button>
                        </span>
                    </td>
                    <td  scope="row">
                        <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
                                (click)="openConfirmationDialog(expense.id)">Delete</button></span>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>