
<div class="dashContent">
<h1>Your Dashboard</h1>
<br>

<div class="row no-gutters income">
    <div class="col-sm-4 ">
        <div class="card ">
            <img class="card-img-top" src="..\assets\img\income-card.jpg" alt="Income Card Image">
            <div class="card-body">
                <h5 class="card-title">Total Income</h5>
                <h4 class="card-text">€{{upToDateUser?.income}}</h4>
                <input type="button" value="Add Invoice" (click)="addIncome(userDetails.id)">
            </div>
        </div>
    </div>
    <div class="col-sm-4 chart-card">
    <app-bar-chart class="tabContent" [userId]="userDetails?.id"></app-bar-chart>
</div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="..\assets\img\expense-card.jpg" alt="Income Card Image">
            <div class="card-body">
                <h5 class="card-title">Total Expenses</h5>
                <h4 class="card-text">€{{upToDateUser?.outgoing}}</h4>
                <input type="button" value="Add Expense" (click)="addExpense(userDetails.id)">
            </div>
        </div>
    </div>



</div>
<br>
<input class="nav-link" type="button" value="Your Details" (click)="yourDetails()">

</div>