<div class="wrapper fadeInDown background">
    <div id="formContent">
      <!-- Tabs Titles -->
  <h2>Login to Your Profile</h2>
      <!-- Login Form -->
      <form>
          <br>
        <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email Address" (change)="emailValueChanged($event)">
        <input type="text" id="PPSN" class="fadeIn second" name="PPSN" placeholder="PPS Number" (change)="ppsValueChanged($event)">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password" (change)="passwordValueChanged($event)">
        <input type="button" class="fadeIn fourth" value="Log In" (click)="submitForm()">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="register">New user? Register Here</a>
      </div>
  
    </div>
  </div>




