<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <br>
    <form>
        <input type="password" id="password" name="password" placeholder="Password" (change)="passwordValueChanged($event)">
        <div class="buttonRow">
            <div class="buttonColumn">
                <button type="button" class="btn btn-primary form-buttons" (click)="authenticate()">Confirm</button>
            </div>
            <div class="buttonColumn">
                <button type="button" class="btn btn-danger form-buttons" (click)="decline()">Cancel</button>
            </div>
        </div>
    </form>
</div>
