input[type=password] {
    background-color: #e6e4e4;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 100%;
    border: 2px solid #f6f6f6;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  .form{
      margin: auto;
  }

  .form-buttons{
    width: 100%;
  }


  .buttonRow {
      display:flex;
  }
  .buttonColumn {
    flex-direction: column;
    padding-left: 5px;
    width: 50%;
  }