
<div class="content">
    <h2>Income Summary</h2>
    <br>
    <h3>Review and edit your invoices here.</h3>
    <br>
    <input type="button"  value="Submit New Invoice" (click)="addIncome(userId)">
    <input type="button"  value="Dashboard" (click)="goToDashboard()">

    <div class="submitted">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Invoice ID</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Invoice Value</th>
                    <th scope="col">Payment Received</th>
                    <th scope="col">Date of Payment</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let income of incomeList">
                    <td scope="row">{{income.id}}</td>
                    <td scope="row">{{income.clientName}}</td>
                    <td scope="row">{{income.dateOfInvoice}}</td>
                    <td scope="row">€{{income.invoiceValue | number}}</td>
                    <td scope="row">{{income.paymentReceived | yesNo}}</td>
                    <td scope="row">{{income.dateOfPayment}}</td>
                    <td scope="row">{{income.notes}}</td>
                    <td scope="row">
                        <span class="table-edit">
                            <button type="button"
                            class="btn btn-primary btn-rounded btn-sm my-0" (click)="invoiceDetails(income.id)">Edit</button>
                        </span>
                    </td>
                    <td scope="row">
                        <span class="table-remove"><button type="button"
                        class="btn btn-danger btn-rounded btn-sm my-0" (click)="openConfirmationDialog(income.id)">Delete</button></span>
                    </td>
                </tr>
            </tbody>
        
        </table>
    </div>
</div>