.bg-dark {
    background-color: #206672 !important;
}

.title{
  font-size: 1.3rem !important;
}

.navbar-brand {
    color: white !important;
    cursor: auto;
}

.nav-link{
    color: white !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    border-color: #206672 !important;
    
}

.icon-drop{
    color: white !important;
}

.nav-drop{
    color: grey !important;
    list-style-type: none;
    cursor: pointer;
    padding-left: 10px;
    padding-bottom: 5px;
    width: 100%;
}

.nav-drop:hover{
  background-color: violet;
}


.userIcon{
    text-align: right;
    padding-right: 15px !important;
    padding-left: 15px;
}

* {
  box-sizing: border-box;
 }

 *:before,
 *:after {
  box-sizing: border-box;
 }

 html,
 body {
  height: 100%;
  position: relative;
 }
 .main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }

footer {
    padding: 25px 0;
    text-align: center;
    background: #dedede;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .footer-links{
    color: #206672;
    padding-left: 10px;
  }
  
  .footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  .footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  ul.social-buttons {
    margin-bottom: 0;
  }
  
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #206672;
  }
  
  ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #fed136;
  }

  .dropdown-item:hover {
    cursor: pointer;
    background-color: #bdc0c2;
  }

  .btn-outline-primary:hover {
    background-color: #19545e !important;
  }

  .dropdown-toggle {
    background-color: #206672 !important;
  }