<div class="main-container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link title" href="#">RMS <i class="fas fa-balance-scale"></i></a>
        </li>
      </ul>
    </div>


    <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <a *ngIf="!auth.isAuthenticated()" class="nav-link icon-drop btn btn-outline-primary" href="about">About</a>
        <a *ngIf="!auth.isAuthenticated()" class="nav-link icon-drop btn btn-outline-primary"
          href="register">Register</a>

        <div ngbDropdown class="d-inline-block">
          <a *ngIf="auth.isAuthenticated()" class="nav-link icon-drop btn btn-outline-primary" id="dropdownBasic1"
            ngbDropdownToggle>Income</a>
          <div ngbDropdownMenu class="dropdown-menu">
            <a class="dropdown-item" (click)="incomeSummary()">Income Summary</a>
            <a class="dropdown-item" (click)="addIncome()">Add Invoice</a>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block">
          <li><a *ngIf="auth.isAuthenticated()" class="nav-link icon-drop btn btn-outline-primary" id="dropdownBasic2"
              ngbDropdownToggle>Expenses</a></li>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" (click)="expenseSummary()">Expense Summary</a>
            <a class="dropdown-item" (click)="addExpense()">Add Expense</a>
          </div>
        </div>


        <a *ngIf="!auth.isAuthenticated()" class="nav-link icon-drop btn btn-outline-primary" href="login"><i
            class="fas fa-user-alt"></i></a>
        <div ngbDropdown class="d-inline-block">
          <!-- User Account Button -->
          <a *ngIf="auth.isAuthenticated()" class=" nav-link icon-drop btn btn-outline-primary" id="dropdownBasic3"
            ngbDropdownToggle><i class="fas fa-user-alt"></i></a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="dropdown-menu dropdown-menu-right">
            <!-- dropdown -->

            <a *ngIf="auth.isAuthenticated()" class="dropdown-item" href="dashboard">Dashboard</a>
            <a *ngIf="auth.isAuthenticated()" class="dropdown-item" href="userDetails">Edit Details</a>
            <div class="dropdown-divider"></div>
            <a *ngIf="auth.isAuthenticated()" class="dropdown-item" href="about">Contact RMS</a>
            <a *ngIf="auth.isAuthenticated()" class="dropdown-item" href="login" (click)="logout()">Logout</a>

          </div>
        </div>

      </ul>
    </div>
  </nav>


  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Revenue Management System 2020</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a (click)="goToLink('https://www.twitter.com')">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a (click)="goToLink('https://facebook.com')">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a (click)="goToLink('https://www.linkedin.com')">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a class="footer-links" href="dashboard">Dashboard</a>
            </li>
            <li class="list-inline-item">
              <a class="footer-links" href="about">About </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>