
<div class="content">
    <div *ngIf="!hideForm">
      <h2>Add New Invoice</h2>
      <br>
      <h3>Don't worry, you can edit details later if needed!</h3>
      <form class="incomeForm" form #f="ngForm">
            
          <br>
          <input type="text" id="clientName"  name="clientName" ngModel clientName #clientName = "ngModel" placeholder="Client Name">
          <input type="text" id="invoiceValue" name="invoiceValue" ngModel invoiceValue #invoiceValue = "ngModel" placeholder="Amount">
          <input type="text" id="dateOfInvoice" name="dateOfInvoice" ngModel dateOfInvoice #dateOfInvoice = "ngModel" placeholder="Date of Invoice">
          <p>Payment Received?</p>
          <label class="label">Yes</label>
          <input type="radio" id="paymentReceived" name="paymentReceived" ngModel paymentReceived #paymentReceived = "ngModel" placeholder= "Yes" value = true (click)="showPaymentDate()" >
          <label class="label">No</label>
          <input type="radio" id="noPayment" name="paymentReceived" placeholder= "No" value = false (click)="hidePaymentDate()">
          <input *ngIf="showDateOfPayment" type="text" id="dateOfPayment" ngModel dateOfPayment #dateOfPayment = "ngModel" name="dateOfPayment" placeholder="Date of Payment">
          <br>
          <input type="text" id="notes" name="notes" ngModel notes #notes = "ngModel" placeholder="Add Notes" >
          <input type="button" value="Submit Invoice Details" (click)="submitForm(f)">
      </form>
    </div>
    
    <div *ngIf="hideForm" class="submitted">
      <h2>Income Submitted Successfully</h2>
      <table class="table table-striped">
        <thead>
          <tr>
              <th scope="col">Client Name</th>
              <th scope="col">Date</th>
              <th scope="col">Invoice Value</th>
              <th scope="col">Payment Received</th>
              <th scope="col">Notes</th>
          </tr>
      </thead>
      
      <tbody>
          <tr>
              <td scope="row">{{submittedIncome?.clientName}}</td>
              <td scope="row">{{submittedIncome?.dateOfInvoice}}</td>
              <td scope="row">€{{submittedIncome?.invoiceValue}}</td>
              <td scope="row">{{paymentReceivedValue}}</td>
              <td scope="row">{{submittedIncome?.notes}}</td>
          </tr>
      </tbody>
      
    </table>
    <!-- DO SOMETHING WITH THIS -->
    <input type="button"  value="Submit New Invoice" (click)="refreshForm()">
    <input type="button"  value="Income Summary" (click)="goToIncomeSummary()">
    <input type="button"  value="Dashboard" (click)="goToDashboard()">
  </div>
</div>
