<div class="content">
  <div *ngIf="!hideForm">
    <h2>Add New Expense</h2>
    <br>
    <h3>Don't worry, you can edit details later if needed!</h3>

      <div class="form">
        <form class="expenseForm" form #f="ngForm">

          <select class="selectpicker select-drop" id="expenseType" placeholder="Expense Type" name="expenseType" ngModel
            expenseType #expenseType="ngModel">
            <option value="" disabled>Expense Type</option>
            <option>Mobile Bill</option>
            <option>Broadband Bill</option>
            <option>Tools/Equipment</option>
            <option>Training</option>
            <option>Business Development</option>
            <option>Other (Please Add Notes)</option>
          </select>
          <input type="text" id="dateOfExpense" name="dateOfExpense" ngModel dateOfExpense #dateOfExpense="ngModel"
            placeholder="Date of Expense">
          <input type="text" id="expenseValue" name="expenseValue" ngModel expenseValue #expenseValue="ngModel"
            placeholder="Expense Value">
          <input type="text" id="notes" name="notes" ngModel notes #notes="ngModel" placeholder="Add Notes">
          <input type="button" value="Submit Expense Details" (click)="submitForm(f)">

        </form>
      </div>
    </div>
    <div *ngIf="hideForm" class="submitted">

      <h3>Form Submitted Successfully</h3>
      <table class="table">

        <tr>
          <th>Expense ID</th>
          <th>Expense Type</th>
          <th>Date</th>
          <th>Expense Value</th>
          <th>Notes</th>
        </tr>

        <tr>
          <td>{{submittedExpense.id}}</td>
          <td>{{submittedExpense.expenseType}}</td>
          <td>{{submittedExpense.dateOfExpense}}</td>
          <td>€{{submittedExpense.expenseValue}}</td>
          <td>{{submittedExpense.notes}}</td>
        </tr>

      </table>
      <!-- DO SOMETHING WITH THIS -->
      <input type="button" value="Submit Another Expense" (click)="refreshForm()">
      <input type="button"  value="Expense Summary" (click)="goToExpenseSummary()">
      <input type="button"  value="Dashboard" (click)="goToDashboard()">
    </div>
</div>