<div class="wrapper fadeInDown background">
  <div class="row card-padding">
    <div class="col">
        <div class="card-body">
          <h1 class="section-heading">Register for your Revenue Management System</h1>
          <p class="card-text">Take 30 seconds to fill in our registration form and you'll be able to instantly
            upload and track your income and expenses effortlessly.</p>
        </div>
    </div>

  </div>
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2> </h2>
    <!-- Registration Form -->
    <form [formGroup]="registerFormGroup">
      <div class="registerRow form-group">
        <!-- First Name -->
        <input
          [class.is-invalid]="registerFormGroup.get('formFName').invalid && registerFormGroup.get('formFName').touched"
          type="text" class="fadeIn third form-control" placeholder="First Name" formControlName="formFName" />
        <small *ngIf="registerFormGroup.get('formFName').invalid && registerFormGroup.get('formFName').touched"
          class="help-block text-danger">Cannot be blank.</small>
        <!-- Last Name -->
        <input
          [class.is-invalid]="registerFormGroup.get('formLName').invalid && registerFormGroup.get('formLName').touched"
          type="text" class="fadeIn third form-control" placeholder="Last Name" formControlName="formLName" />
        <small *ngIf="registerFormGroup.get('formLName').invalid && registerFormGroup.get('formLName').touched"
          class="help-block text-danger">Cannot be blank.</small>
      </div>

      <div class="registerRow form-group">
        <!-- Email -->
        <input
          [class.is-invalid]="registerFormGroup.get('formEmail').invalid && registerFormGroup.get('formEmail').touched"
          placeholder="Email Address" type="email" class="fadeIn third form-control" formControlName="formEmail" />
        <small
          *ngIf="emailAddress.errors?.pattern && registerFormGroup.get('formEmail').invalid && registerFormGroup.get('formEmail').touched"
          class="text-danger">Please provide a valid email address.</small>
      </div>

      <div class="registerRow form-group">
        <!-- Date of Birth -->
        <input [class.is-invalid]="registerFormGroup.get('formDOB').invalid && registerFormGroup.get('formDOB').touched"
          type="text" class="fadeIn third form-control" placeholder="Date of Birth (DD-MM-YYYY)"
          formControlName="formDOB" />
        <small
          *ngIf="formDOB.errors?.pattern && registerFormGroup.get('formDOB').invalid && registerFormGroup.get('formDOB').touched"
          class="help-block text-danger">Please enter valid DOB (DD-MM-YYYY)</small>
        <!-- PPSN -->
        <input
          [class.is-invalid]="registerFormGroup.get('formPPSN').invalid && registerFormGroup.get('formPPSN').touched"
          type="text" class="fadeIn third form-control" placeholder="PPS Number" formControlName="formPPSN" />
        <small
          *ngIf="formPPSN.errors?.pattern && registerFormGroup.get('formPPSN').invalid && registerFormGroup.get('formPPSN').touched"
          class="help-block text-danger">Please enter your PPS in it's correct format (e.g. 1234567N)</small>
      </div>

      <div class="registerRow form-group">
        <!-- Job Title -->
        <input
          [class.is-invalid]="registerFormGroup.get('formJobTitle').invalid && registerFormGroup.get('formJobTitle').touched"
          type="text" class="fadeIn third form-control" placeholder="Job Title/Profession"
          formControlName="formJobTitle" />
        <small *ngIf="registerFormGroup.get('formJobTitle').invalid && registerFormGroup.get('formJobTitle').touched"
          class="help-block text-danger">Cannot be blank.</small>
      </div>

      <div class="registerRow form-group">
        <!-- Password -->
        <input ng-model="password"
          [class.is-invalid]="registerFormGroup.get('formPassword').invalid && registerFormGroup.get('formPassword').touched"
          type="password" class="fadeIn third form-control" placeholder="Password" formControlName="formPassword" />
        <small
          *ngIf="formPassword.errors?.pattern && registerFormGroup.get('formPassword').invalid && registerFormGroup.get('formPassword').touched"
          class="help-block text-danger">Min. 8 characters. Must contain One Uppercase Letter, One Lowercase Letter, One
          Number, and one Special Character (!@#$%^&*).</small>

        <!-- Confirm Password -->
        <input ng-model="passwordConfirm"
          [class.is-invalid]="registerFormGroup.get('formConfirmPassword').invalid && registerFormGroup.get('formConfirmPassword').touched"
          type="password" class="fadeIn third form-control" placeholder="Confirm Password"
          formControlName="formConfirmPassword" ng-match="password" />
        <small *ngIf="registerFormGroup.get('formConfirmPassword').touched  && !checkPasswordsMatch()">Passwords need to
          match.</small>
      </div>

      <input type="button" class="fadeIn fourth" value="Register" (click)="submitForm()"
        [disabled]="isSubmitDisabled()">

    </form>
    <!-- Back to Login-->


    <div id="formFooter">
      <a class="underlineHover" href="login">Existing user? Login Here</a>
    </div>

  </div>
</div>